.footer1{
    background-color: #380101;
    font-size: 14px;
    color: white;
    margin-top: 100px;
    padding: 50px 110px 20px 120px;
    font-family: Roboto, sans-serif;
    line-height: 30px;
}
.firstText{
    font-size: 16px !important;
    font-family: Roboto, sans-serif;
}
.footer1 a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
 .footer2 p{
    display: grid;
    justify-items: center !important;
    text-align: center !important;
    padding: 20px 0px 20px 0px;
    color: white;
}
.footer2{
    background-color: rgb(6, 6, 85);
    margin-bottom: -70px;
}
